.dealerGameZone {
  width: auto;
}

.playerGameZone {
  width: auto;
}





/*#div { width:250px;background-color:#ffaaaa;vertical-align:top; }*/




/*.container {
    margin: auto;
    width: 80%;
    height: 70px;
    padding: 5px;
}*/



/*.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -300px;
}
.wrapper2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: -300px;
}*/
